
/* Portfolio Section */
:root{
    --primary-color:#ff004f;
    
    --direction:flex;
    
    --width:100%;
    
    --default-Display:none;
    --position-center:center;
    --transition-time:0.5s;
    
    }
    

#portfolio{
    padding: 50px 0;
    }
    
    .work-list{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        grid-gap:40px;
        margin-top: 50px;
    }
    
    
    .work{
        border-radius: 10px;
        position: relative;
        overflow: hidden;
    }
    
    .work img{
        width: var(--width);
        border-radius: 10px;
        display: block;
        transition: tranform var(--transition-time);
    }
    
    .layer{
        width: 100%;
        height: 0;
        background: linear-gradient(rgba(0,0,0,0.6),#ababab);
        border-radius: 10px;
        position: absolute;
        left: 0;
        bottom: 0;
        overflow: hidden;
        display: var(--direction);
        align-items: var(--position-center);
        justify-content: var(--position-center);
        flex-direction: column;
        padding: 0 40px;
        text-align: var(--position-center);
        font-size: 14px;
        transition: height var(--transition-time);
    }
    
    .layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    }
    
    .layer a {
        margin-top: 20px;
        color:var(--primary-color);
        text-decoration: var(--default-Display);
        font-size: 18px;
        line-height: 60px;
        background: #fff;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        text-align: var(--position-center);
    }
    
    .work:hover  img{
    transform: scale(1.1);
    }
    
    .work:hover .layer{
    height: var(--width);
    }
    
    .sub-title-Portfolio{
        font-size: 60px;
        font-weight: 600;
        color:var(--primary-color);
        text-align: center;

    }
    
    .btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid var(--primary-color);
    padding: 14px 50px;
    text-decoration: var(--default-Display);
    border-radius: 20px;
    color: #fff;
    transition: var(--transition-time);
    }
    
    .btn:hover{
    background:var(--primary-color);
    }

    
@media all and (max-width:667px){

    .sub-title-Portfolio{
        font-size: 51px;
        font-weight: 600;
        color: var(--primary-color);
        text-align: center; 


    }



}

    /* font-size: 51px;
    font-weight: 600;
    color: var(--primary-color);
    text-align: center; */
    